body {
    margin: 0;
    padding: 0;
    background-color: #99ffcc;
}
nav {
    background-color: #66ccff;
    text-align: center;
    padding: 20px 0;
}
footer {
    background-color: #66ccff;
    color: #006666;
    text-align: right;
    height: 30px;
    padding: 20px;
}
header {
    background-color: #99ff66;
    height: 200px;
}
.container {
    width: 1000px;
    margin: auto;
}
main {
    display: flex;
    flex-direction: row;
}
section {
    width: 310px;
    padding: 10px;
}
h2,
h3 {
    text-align: center;
}

a,
a:visited {
    color: #006666;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}

#reset {
    background-color: #ff0000;
}
#send {
    background-color: #00ff00;
}
